html {
    font-size: 16px;
}
body{
    background-color: #f3f5f5;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    z-index: 10;
    top: 0;
}
ul {
    list-style: none;
    margin: 0;
}
nav ul {
    display: inline-flex;
    padding-right: 24px;
}
li {
    padding-left: 16px;
    transition: color 0.35s ease;
}
a:-webkit-any-link {
    text-decoration: none;
}
a {
    color: black;
    margin: 0;
    transition: color 0.5s ease;
}
a:hover {
    color: #9d0000;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    line-height: 1.1;
}
h4 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
button {
    width: 100%;
    padding: 8px;
    background-color: #9d0000;
    color: white;
    font-size: 22px;
    border-width: 0px;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover {
    background-color: #660000;
}
.flex {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.first-item {
    max-width: 60%;
    padding: 32px 24px;
}
.first-item h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}
.second-item {
    width: 40%;
}
.grey-bg {
    background-color: #d8d8d8;
}
.first-item img {
    width: 100%;
}
.logo {
    display: inline-flex;
    padding-left: 24px;
    height: 64px;
    align-items: center;
}
.logo h4 {
    font-weight: 400;
    margin: 0;
}
header a {
    height: 100%;
}
.topsection {
    position: relative;
    margin-top: 64px;
}
.practicing {
    display: flex;
    padding: 16px;
    align-items: center;
}
.practicing:first-child {
    padding-top: 0;
}
.practicing:last-child {
    background-color: #d8d8d8;
}
.center {
    align-items: center;
}
.pracpad {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desctop {
    max-width: 35%; 
}
.prdesc {
    width: 65%;
    padding-left: 20px;
}
.practicing h3 {
    margin: 0;
}
.practicing a {
    color: #660000;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.35s ease;
}
.practicing a:hover {
    color: #9d0000;
}
.columnn {
    flex-direction: column;
}
.columnn h2 {
    margin: 32px auto;
    font-size: 30px;
}
.learn-item {
    width: 31%;
    background-color: white;
    margin-bottom: 32px;
}
.learn-item img {
    width: 100%;
}
.learn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ldesc {
    padding: 16px;
}
.learn-item h3 {
    margin: 0;
}
video {
    width: 100%;
}
a img {
    width: 35%;
}
.practicing2 {
    display: flex;
    padding: 16px;
    align-items: center;
}
.pracpad2 {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.fon {
    background-color: #d8d8d8;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
footer p {
    padding-left: 24px;
    margin: 24px 0;
}
footer a {
    padding-right: 24px;
    margin: 24px 0; 
}














@media only screen and (min-width: 450px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    body {
        max-width: 100%;
        box-sizing: border-box;
    }
    .center {
        flex-direction: column;
    }
    .flex {
        flex-direction: column;
        width: 100%;
    }
    .learn-wrap {
        flex-wrap: nowrap;
        flex-direction: column;
        display: flex;
        margin-bottom: 16px;
    }
    .learn-item {
        width: 100%;
        background-color: #d8d8d8;
        margin-bottom: 8px;
        padding: 0px;
    }
    
    .first-item, .second-item {
        min-width: 100%;
        padding: 0;
    }
    .second-item {
        min-width: 100%;
        padding: 0px;
    }
    .practicing {
        flex-direction: column;
    }
    .practicing img {
        width: 100%;
    }
    .learn-wrap {
        padding-left: 16px;
        padding-right: 16px;
    }
    .lenny {
        background-color: white;
    }
    .ldesc {
        padding: 0;
    }
    .ldesc a h3 {
        font-size: 20px;
        margin: 16px 16px 24px 16px;
    }

    .off, .desctop, .learn-item img, .exhibit, .ldesc p, .pracpad2, footer a {
        display: none;
    }
    .nopadding {
        padding: 0;
    }
    
    a img {
        width: 100%;
    }
    .mobile {
        width: 100%;
    }
    h1 {
        font-size: 35px;
        padding: 0px 16px 24px 16px;
    }
    h4 {
        padding: 32px 16px;
    }
    .forbut {
        padding: 0 16px 24px 16px;
    }
    nav ul {
        width: 100%;
        justify-content: space-around;
        padding-right: 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        align-content: center;
        padding-top: 10px;
    }
    li {
        padding: 0;
    }
    .practicing:first-child {
        padding-top: 16px;
    }
    .prdesc {
        width: 100%;
        padding-left: 20px;
        padding-top: 16px;
    }
    .prdesc p {
        margin: 5px 0;
    }
    header a {
        font-size: 28px;
    }
    
}
@media only screen and (max-width: 1200px) {
    section {
        width: 100%;
    }
}